<header class="text-white">
  <nav class="container mx-auto flex justify-between items-center font-oswald">
    <!-- Left Side - Navigation Links -->
    <ul class="hidden md:flex space-x-10">
      <li>
        <a
          href="./home.html"
          class="hover:underline hover:decoration-2 hover:underline-offset-2 font-normal hover:text-[#CE362C]"
          >TRANG CHỦ</a
        >
      </li>
      <li>
        <a
          href="./menu.html"
          class="hover:underline hover:decoration-2 hover:underline-offset-2 font-normal hover:text-[#CE362C]"
          >MENU</a
        >
      </li>
      <li>
        <a
          href="./about.html"
          class="hover:underline hover:decoration-2 hover:underline-offset-2 font-normal hover:text-[#CE362C]"
          >VỀ CHÚNG TÔI</a
        >
      </li>
      <li>
        <a
          href="./address.html"
          class="hover:underline hover:decoration-2 hover:underline-offset-2 font-normal hover:text-[#CE362C]"
          >ĐỊA CHỈ</a
        >
      </li>
    </ul>

    <!-- Center Logo -->
    <a href="./home.html" class="hidden md:block">
      <img src="../images/logo1.svg" alt="" />
    </a>

    <!-- Right Side  -->
    <ul class="hidden md:flex space-x-10 items-center">
      <li>
        <a
          href="./store.html"
          class="hover:underline hover:decoration-2 hover:underline-offset-2 font-normal hover:text-[#CE362C]"
          >CỬA HÀNG</a
        >
      </li>
      <li>
        <a
          href="./contact.html"
          class="hover:underline hover:decoration-2 hover:underline-offset-2 font-normal hover:text-[#CE362C]"
          >LIÊN HỆ</a
        >
      </li>
      <li>
        <a href="./cart.html">
          <img src="../images/cart-icon-white.svg" alt="" />
        </a>
      </li>
      <li>
        <button class="bg-[#CE362C] p-2 rounded-3xl px-4 hover:bg-[#FBBE36]">
          ĐẶT HÀNG ONLINE
        </button>
      </li>
    </ul>

    <!-- Mobile Menu Button -->
    <div class="md:hidden w-full flex items-center justify-between">
      <img src="../images/logo1.svg" alt="" />
    </div>

    <button
      data-collapse-toggle="navbar-sticky"
      type="button"
      class="md:hidden flex items-center justify-between p-2 w-24 h-24"
    >
      <img src="../images/menu-mobile.svg" alt="Menu" />
    </button>
  </nav>
</header>
